.characterInfo {
    -fx-font-family: "Segoe UI Semibold";
}

.characterInfo Label {
    -fx-font-size: 12px;
}

.expansion {
    -fx-text-fill: #58b12e;
}

.classPicker {
    -fx-font-family: "Book Antiqua";
}

.skillPageName {
    -fx-background-color: #1d1d1d;
    -fx-font-size: 11pt;
    -fx-font-family: 'Segoe UI Semibold';
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.skillPage {
    -fx-background-color: #ccc;
}

.borderedPane {
    -fx-border: 1px;
    -fx-border-color: #C0C0C0;
    -fx-border-radius: 3px 3px 0 0;
    -fx-border-style: solid;
}

.borderedPane .title {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #C0C0C0;
    -fx-border-style: solid;
    -fx-background-color: #d5d5d5;
    -fx-font-size: 12px;
    -fx-pref-height: 24px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-max-width: Infinity;
}

TextField{
    -fx-font-size: 12px;
    -fx-pref-height: 24px;

}

ComboBox{
    -fx-font-size: 12px;
    -fx-pref-height: 24px;
}

ButtonBar {
    -fx-hgap: 5;
}

.statusBar {
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: #C0C0C0;
    -fx-border-style: solid;
    -fx-background-color: #f1f1f1;
}